@import '@shared/styles/colors';

.wrapper {
  display: flex;
  position: relative;
  max-width: 353px;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
  color: $black_blue;
  margin: 0;
  word-wrap: break-word;


  &:before {
    content: '';
    width: 4px;
    height: 100%;
    background: $gradient_primary;
    position: absolute;
    margin-left: -80px;
  }

  @media screen and (max-width: 1440px) {

    &:before {
      margin-left: -20px;
    }
  }

  @media screen and (max-width: 720px) {
    margin-top: 60px;
    font-size: 30px;
    line-height: 36px;
    max-width: 200px;
  }

  @media screen and (max-width: 440px) {
    font-size: 20px;
    line-height: 24px;
    max-width: 150px;

    &:before {
      display: none;
    }
  }
}
