.wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.controls {
  display: flex;
  gap: 20px;
  @media screen and (max-width: 1200px) {
    gap: 10px;
  }
}

.legend {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  user-select: none;
}
