.wrapper {
  display: flex;
  position: relative;
  margin-top: 56px;
}

.slide {
  width: 320px;
}

.prev {
  position: absolute;
  top: calc(50% - 20px);
  left: -60px;

  &:disabled {
    display: none;
  }

  @media screen and (max-width: 1440px) {
    display: none !important;
  }
}

.next {
  position: absolute;
  top: 50%;
  right: -60px;

  &:disabled {
    display: none;
  }

  @media screen and (max-width: 1440px) {
    display: none !important;
  }
}
