@import '@shared/styles/colors';

.wrapper {
  display: flex;
  position: relative;
  margin-top: 56px;

  @media screen and (max-width: 1200px) {
    margin: 0;
    padding-top: 20px;
    border-top: 1px $border_color solid;
  }
}

.slide {
  width: 320px;
  @media screen and (max-width: 1200px) {
    width: 166px;
  }
}

.prev {
  position: absolute;
  top: calc(50% - 20px);
  left: -60px;

  &:disabled {
    display: none;
  }

  @media screen and (max-width: 1440px) {
    display: none !important;
  }
}

.next {
  position: absolute;
  top: 50%;
  right: -60px;

  &:disabled {
    display: none;
  }

  @media screen and (max-width: 1440px) {
    display: none !important;
  }
}
.nextSlide {
  opacity: 0.5;
}
