$secondary: rgba(239, 93, 168, 1);
$primary: rgba(93, 95, 239, 1);

$gradient_primary: linear-gradient(180deg, $primary -5%, $secondary 85%);

$blue: rgba(56, 119, 238, 1);

$black_blue: rgba(66, 86, 122, 1);

$gray_1: rgba(48, 62, 88, 0.5);

$border_color: rgba(66, 86, 122, 0.2);

$white: rgba(229, 229, 229, 1);

$red: red;
