.App {
  display: flex;
  justify-content: space-evenly;

  &:before {
    content: '';
  }

  @media screen and (max-width: 1440px) {
    justify-content: flex-start;

    &:before {
      display: none;
    }
  }
}
