@import 'src/shared/styles/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  min-height: 100vh;
  border: 1px $border_color solid;
  border-top: none;
  border-bottom: none;
  padding: 0 160px 0 80px;
  margin: auto;

  @media screen and (max-width: 1440px) {
    padding: 20px;

  }

  @media screen and (max-width: 1200px) {
    gap: 60px;

    >div {
      order: 0;

      &:nth-child(3) {
        margin-top: auto;
        order: 1;
      }
    }
  }
}
